@use 'variables' as a;
@use 'mixin' as b;

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 4rem;
}

.preview {
  max-width: 36rem;
  border-radius: 2rem;
  background: a.$color-bg-card;
  padding: 2.5rem;
  display: grid;
  gap: 2rem;
  &__fig {
    position: relative;
    &:hover::after {
      opacity: 1;
      cursor: pointer;
    }
    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 2rem;
      background: rgba(a.$color-main, .5) url(../images/icon-view.svg) no-repeat center; 
      transition: all 1s; 
    }
  }
  &__nft {
    border-radius: 2rem;
    object-fit: cover;
  }
  &__icon {
    position: absolute;
    opacity: 0;
    top: 50%;left: 50%;
    transform: translate(-50%,50%);
    transition: all .5s;
    display: grid;   
  }

  &__heading {
    font-size: a.$fs-main;
    font-weight: a.$fw-600;
    color: a.$color-heading;
    &:hover {
      @include b.hover;
    }
  }
  &__content {
    font-size: a.$fs-sub;
    font-weight: a.$fw-300;
    color: a.$color-sub;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    font-size: a.$fs-sub;
    font-weight: a.$fw-400;
  }
  &__price {
    color: a.$color-main;
  }

  &__price, &__days {
    display: flex;
    gap: .5rem;
  }
  &__maker {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-top: .1rem solid a.$color-line;
  }

  &__pic {
    width: 4rem;height: 4rem;
  }
  &__author {
    font-size: a.$fs-sub;
    display: flex;
    &--name {
      color: a.$color-heading;
      &:hover {
        @include b.hover;
      }
    }
  }

}