// font //
$ff-main: 'Outfit', sans-serif;

// font size//
$fs-main: 2.3rem;
$fs-sub: 1.8rem;

// font weight//
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
// color //
$color-heading: hsl(0, 0%, 100%);
$color-sub: hsl(215, 51%, 70%);
$color-main: hsl(178, 100%, 50%);
$color-bg: hsl(216, 55%, 11%);
$color-line: hsl(215, 32%, 27%);
$color-bg-card: hsl(216, 50%, 16%);



